@font-face{
    font-family: 'GothamPro Light';
    src: url('../fonts/Gotham/GothamPro-Light.ttf')
}
@font-face{
    font-family: 'GothamPro Bold';
    src: url('../fonts/Gotham/GothamProNarrow-Bold.ttf')
}
.top-bar,
.contacts{
    font-family: 'GothamPro Light', sans-serif;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    padding: 100px 50px;
}
.top-bar{
    top: 0;
}
.contacts{
    bottom: 0;
    padding: 50px;
    .social{
        list-style-type: none;
        padding: 0;
        li{
            padding: 0px 30px;
            &:first-child{
                padding-left: 0;
            }
            a{
                color: #fff;
            }
        }
    }
}
header{
    height: 100vh;
    background-color: #000;
    background-image: url('../img/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    .menu-container{
        position: relative;
        .menu{
            height: 100%;
            width: 100%;
            position: relative;
            .title{
                color: #fff;
            }
            .menu-items{
                a{
                    pointer-events: all !important;
                    display: inline-block;
                    font-size:30px;
                    font-family: 'GothamPro Bold', serif;
                    padding: 20px 50px;
                    color: #fff;
                    text-decoration: none;
                    -webkit-filter: blur(2px);
                    filter: blur(2px);
                    transition: all .3s ease;
                    transform: none;
                    &:hover{
                        -webkit-filter: blur(0px);
                        filter: blur(0px);
                        cursor: pointer;
                        transform: perspective(2000px) translate3d(0, 0, 100px);
                        -webkit-transform: perspective(2000px) translate3d(0, 0, 100px);
                    }
                }
            }
        }
    }
}